[Unit]
Description=Unicorn HAT status matrix
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/status_matrix_service.py --config /home/pi/status_matrix.yaml
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target
